.app-root {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.app-bar {
  position: absolute;
  top: 0;
  background-color: transparent;
  left: 0;
  right: 0;
}
.tool-bar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.page-title {
  font-weight: 700;
}
.page-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.events-page  {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0
}